.logo {
  height: 31px;
  margin: 30px;
}

.main {
  width: 100%;
}

.navbar {
  background-color: black;
}

.navbuttons {
  display: inline;
  font-family: "Helvetica Heue", Helvetica, Arial, sans-serif;
}

.try {
  background-color: #52C770;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 13px;
  padding-left: 25px;
  padding-right: 25px;
}

.try:hover {
  cursor: pointer;
}